<link rel="stylesheet" href="/css/nav.css">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    
    <label class="logo">
        <a href="/">
            <font color="#FFFFF">Weather</font>
            <font class="backspace" color="#c715f3">ly</font>
        </a>
    </label>  


    <ul >
        <li><a class="navLinks" href="/home"> Home</a></li>
        <li><a class="navLinks" href="/about"> about</a></li>
        <li><a class="navLinks" href="/contact_us"> contact us</a></li>
        
    </ul>

</nav>







