footer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
        
}

.social {
    
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 250px;
    background-color: #1C003F;
    
}

.fa.links {
    padding: 20px;
    height: 60px;
    width: 60px;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin: 18px;
    margin-top: 50px;
    transition: 0.5s;

}

.fa.links:hover {
    color: rgb(3, 3, 3);
    background-color: white;
}


.info-group {
    display: flex;
    justify-content: center;
    
}

.info {
    color: white;
    margin-top: 10px ;
    padding: 10px;
    transition: 0.6s;
    
}
.info:hover{
    color:#f700ff
}
.copyright{
    color:rgba(255, 255, 255, 0.425);
    
}

.splitter {
    color: white;
    margin-top: 20px;
}
