.welcome {
    font-family: 'Inter';
    height: 1800px;
    background-image: url(../img/bgHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

.pages {

    font-family: 'Inter';
    height: 1800px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.welcomeTxt {
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    position: relative;
    top: 170px;
    margin-left: 100px;
    font-style: normal;
    font-weight: 800;
    font-size: 95px;
}

.des {
    color: white;
    font-size: 20px;
    top: 130px;
    padding: 0 110px;
    position: relative;

}

.btn {
    border-radius: 51px;
    width: 165px;
    height: 51px;
    top: 180px;
    position: relative;
    font-weight: 550;
    font-size: 15px;
    cursor: pointer;

}

.btnGroup {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 110px;
    text-align: center;

}

#start {
    background-color: #b615df;
    transition: 0.5s;
    opacity: 0.9;
    color: #ffffff;
    border: none;

}

#start:hover {
    background-color: #d52dff;
    opacity: 1;
}

#about {
    background-color: transparent;
    opacity: 0.8;
    transition: 0.3s;
    color: #ffffff;
    border: 2px solid white;
}

#about:hover {
    opacity: 1;
    background-color: #ffffffce;
    color: #000000;
}

.guideTxt {
    color: white;
    font-weight: 200;
    text-align: center;
    font-size: 30px;
    margin-top: 100px
}

.container {
    justify-content: center;
    align-items: center;
    z-index: 9; 
    
}

#searchBox {
    position: relative;
    font-size: 20px;
    width: 750px;
    height: 75px;
    left: 554px;
    padding: 12px 56px 12px 40px;
    gap: 12px;    
    z-index: 5;
    margin-top: 30px
    

}

.searchBtnDiv {
    margin-left: 850px;
    margin-top: 30px;
}

.test {
    color: red;
    margin-top: 1000px;
}

.searchBtn {
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 51px;
    width: 165px;
    height: 51px;
    font-weight: 550;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    transition: 0.6s;
    
    

}

.searchBtn:hover {
    background-color: rgb(214, 7, 255);
    border: 2px solid rgb(214, 7, 255);
    color: white;
}

/* .fa-search{
    border: none;
    color: #000000;
    margin-right: 500px;
    z-index: 10;

}  */

.result {
    color: white;
    
    
    margin-top: 100px;
    font-size: 28px;
    border:none;
    

}

.mainResult {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
