<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">

</head>
<body class="pages">
    {{>navigation}}

    <div class="aboutTitle">
        <font color="#c715f3"> W </font>
        <font color="#FFFFF" class="backspaceAbout"> ho  </font>
        <font color="#c715f3"> W </font>
        <font color="#FFFFF" class="backspaceAbout"> e </font>
        <font color="#c715f3"> A </font>
        <font color="#FFFFF" class="backspaceAbout"> re </font>
    </div>

    
    
    <p class="aboutTxt">
        Welcome to Weatherly, the ultimate destination for up-to-date and accurate weather information. At Weatherly, we understand the importance of knowing the weather conditions in your area, whether you're planning a weekend trip, organizing an outdoor event, or just trying to decide what to wear today. <br><br> With our easy-to-use platform, you can get real-time weather details for any location in the world. Simply enter your desired location in the search bar and voila! You'll receive detailed information about the temperature, humidity, wind speed, and other important weather factors. Plus, we provide you with an hourly and daily forecast so you can plan your day accordingly. <br><br>Our team of meteorologists and weather enthusiasts work hard to ensure that our weather data is reliable and accurate. We use the latest technology to gather information from multiple sources, including government agencies, weather stations, and satellite imagery. This allows us to provide you with the most comprehensive and precise weather information available.<br><br>At Weatherly, we're committed to making your experience as smooth and easy as possible. We believe that everyone should have access to the most current and accurate weather information, and we strive to provide that to our users every day. Thank you for choosing Weatherly for all your weather needs!
    </p>


    <div class="footerAbout">
        {{>footer}}
    </div>
</body>
</html>
