
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contact_us.css">
    <title>Contact us | Weatherly</title>
</head>
<body class="pages">
    {{>navigation}}
    
    <h1 class="contactUsTitle">CONTACT US</h1>

    <div class="contactSection">
        <p class="contactDetails">call us: +94701060236</p>
        <p class="contactDetails">Email: contact.weatherly@gmail.com</p>
    </div>


    <div class="footerContact">
        {{>footer}}
    </div>
    
</body>
</html>